.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border: 1px solid black;
}
.inputBox {
  border-radius: 5%;
  padding: 12px;
}
